<div>
  <div>
    <h1>
      List of all bookmarks
    </h1>
  </div>
</div>

<hr>

<div>
  <div>
    <h2>
      Add a new bookmark
    </h2>

    <form action="/insert_bookmark" method="post">
      <div>
        <label for="user_id_box">
          User
        </label>

        <input type="text" id="user_id_box" name="query_user_id">
      </div>

      <div>
        <label for="listing_id_box">
          Listing
        </label>

        <input type="text" id="listing_id_box" name="query_listing_id">
      </div>

      <button>
        Create bookmark
      </button>
    </form>
  </div>
</div>

<hr>
<div>
  <div>
    <table border="1">
      <tr>
        <th>
          Bookmark ID
        </th>

        <th>
          User ID
        </th>

        <th>
          Listing ID
        </th>

        <th>
          Seller Name
        </th>
        
        <th>
          Email to Buy!
        </th>

        <th>
          Created at
        </th>

        <th>
          Updated at
        </th>

        <th>
        </th>
      </tr>




      <% @list_of_bookmarks.each do |a_bookmark| %>
      <%if a_bookmark.user_id == session[:user_id] %>

      <tr>
        <td>
          <%= a_bookmark.id %>
        </td>

        <td>
          <%= a_bookmark.user_id %>
        </td>

        <td>
          <%= a_bookmark.listing_id %>
        </td>

        <td>
            <% listing = a_bookmark.listing_id %>
          <% listing_id = Listing.where({ :id => listing }).at(0).seller_id  %>
          <%= user_id = User.where({ :id => listing_id }).at(0).full_name  %>
        </td>

        <td>
            <% listing = a_bookmark.listing_id %>
          <% listing_id = Listing.where({ :id => listing }).at(0).seller_id  %>
          <%= user_id = User.where({ :id => listing_id }).at(0).email  %>
        </td>

        <td>
          <%= time_ago_in_words(a_bookmark.created_at) %> ago
        </td>
        <td>
          <%= time_ago_in_words(a_bookmark.updated_at) %> ago
        </td>

        <td>
          <a href="/bookmarks/<%= a_bookmark.id %>">
            Show details
          </a>
        </td>
      </tr>
      <% else %> 
      <% end %>
      <% end %>
    </table>
  </div>
</div>

<hr>
