<div>
  <div>
    <h1>
      List of all listings
    </h1>
  </div>
</div>

<hr>
<div>
<h2>
Search listings
  <form action="/">
  <input type="text">
  <button>Search</button>
  </form>
</h2>
</div>
</hr>


<hr>
<div>
  <div>
    <table border="1">
      <tr>
        <th>
          ID
        </th>

        <th>
          Image
        </th>

        <th>
          Product Name
        </th>

        <th>
          Description
        </th>

        <th>
          Price
        </th>

        <th>
          Location
        </th>

        <th>
          Seller
        </th>

        <th>
          Like it?
        </th>

        <th>
          Category
        </th>

        <th>
          Created at
        </th>

        <th>
          Updated at
        </th>

        <th>
        </th>
      </tr>

      <% @list_of_listings.each do |a_listing| %>
      <tr>
        <td>
          <%= a_listing.id %>
        </td>

        <td>
      <img src="<%= a_listing.image %>">
        </td>

        <td>
          <%= a_listing.name %>
        </td>

        <td>
          <%= a_listing.description %>
        </td>

        <td>
          <%= a_listing.price %>
        </td>

        <td>
          <%= a_listing.location %>
        </td>

        <td>
          <%= a_listing.seller_id %>
        </td>

        <td>
        <%# current_user_bookmarks = Bookmark.where({ :listing_id => @the_listing.id, :user_id => session.fetch(:user_id)}) %>



        <%# if current_user_bookmarks.count !=0  %>
          <form action="/add_bookmark">
          <input type="hidden" name="listing_id" value="<%=a_listing.id%>">
              <button>I dig it!</button>
          </form>
          <%# else %>
          
          <%# end %>
        </td>

        <td>
          <%= a_listing.category_id %>
        </td>

        <td>
          <%= time_ago_in_words(a_listing.created_at) %> ago
        </td>
        <td>
          <%= time_ago_in_words(a_listing.updated_at) %> ago
        </td>

        <td>
          <a href="/listings/<%= a_listing.id %>">
            Show details
          </a>
        </td>
      </tr>
      <% end %>
    </table>
  </div>
</div>

<hr>
