<div>
  <div>
    <h1>
      Listing #<%= @the_listing.id %> details
    </h1>

    <div>
      <div>
        <a href="/listings">
          Go back
        </a>
      </div>

      <div>
        <a href="/delete_listing/<%= @the_listing.id %>">
          Delete listing
        </a>
      </div>
    </div>

    <dl>
      <dt>
        Image
      </dt>
      <dd>
        <img src="<%= @the_listing.image %>">
      </dd>

      <dt>
        Name
      </dt>
      <dd>
        <%= @the_listing.name %>
      </dd>

      <dt>
        Description
      </dt>
      <dd>
        <%= @the_listing.description %>
      </dd>

      <dt>
        Price
      </dt>
      <dd>
        <%= @the_listing.price %>
      </dd>

      <dt>
        Location
      </dt>
      <dd>
        <%= @the_listing.location %>
      </dd>

      <dt>
        Seller
      </dt>
      <dd>
        <%= @the_listing.seller_id %>
      </dd>


      <dt>
        Buyer
      </dt>
      <dd>
        <%= @the_listing.buyer_id %>
      </dd>

      <dt>
        Category
      </dt>
      <dd>
        <%= @the_listing.category_id %>
      </dd>

      <dt>
        Created at
      </dt>
      <dd>
        <%= time_ago_in_words(@the_listing.created_at) %> ago
      </dd>

      <dt>
        Updated at
      </dt>
      <dd>
        <%= time_ago_in_words(@the_listing.updated_at) %> ago
      </dd>
    </dl>
  </div>
</div>

<hr>


<div>
  <div>
  <%user = User.where( :id => session[:user_id] ).at(0)%>
  <%if user.seller == true%>
    <h2>
      Edit listing
    </h2>

    <form action="/modify_listing/<%= @the_listing.id %>"  method="post" >
      <div>
        <label for="image_box">
          Image
        </label>

        <input type="text" id="image_box" name="query_image" value="<%= @the_listing.image %>">
      </div>

      <div>
        <label for="name_box">
          Name
        </label>

        <input type="text" id="name_box" name="query_name" value="<%= @the_listing.name %>">
      </div>

      <div>
        <label for="description_box">
          Description
        </label>

        <textarea id="description_box" name="query_description"><%= @the_listing.description %></textarea>
      </div>

      <div>
        <label for="price_box">
          Price
        </label>

        <input type="text" id="price_box" name="query_price" value="<%= @the_listing.price %>">
      </div>

      <div>
        <label for="location_box">
          Location
        </label>

        <input type="text" id="location_box" name="query_location" value="<%= @the_listing.location %>">
      </div>

      <div>
        <label for="seller_id_box">
          Seller
        </label>

        <input type="text" id="seller_id_box" name="query_seller_id" value="<%= @the_listing.seller_id %>">
      </div>

      <div>
        <label for="buyer_id_box">
          Buyer
        </label>

        <input type="text" id="buyer_id_box" name="query_buyer_id" value="<%= @the_listing.buyer_id %>">
      </div>

      <div>
        <label for="category_id_box">
          Category
        </label>

        <input type="text" id="category_id_box" name="query_category_id" value="<%= @the_listing.category_id %>">
      </div>

      <button>
        Update listing
      </button>
    </form>
  </div>
</div>
<%end%>

<hr>
